code {
    padding: 2px 4px;
    border-radius: 4px;
    margin-right: 2px;
    margin-left: 2px;
    background-color: rgba(27, 31, 35, 0.05);
    font-family: "Operator Mono", Consolas, Monaco, Menlo, monospace;
    word-break: break-all;
    color: #009688;
}

.post-body h2 {
  display: inline-block;
  font-weight: bold;
  background: black;
  color: #ffffff;
  padding: 5px 10px 5px;
  margin-right: 3px;
  font-size: 1.2em;
}

p a{
  color: #009688;
  border-bottom: none;
  border-bottom: 1px solid #009688;
  &:hover {
    color: #8e24aa;
    border-bottom: none;
    border-bottom: 1px solid #8e24aa;
  }
}

.post-body u {
    display: inline;
    padding: 0.2em 0.6em 0.3em;
    font-size: 80%;
    font-weight: bold;
    line-height: 1;
    color: #fff;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 5px;
    background-color: #8e24aa;
    text-decoration:none;
}

.post-body strong {
    color:#009688;
}

.sidebar-nav .sidebar-nav-active {
    border-bottom-color: #a7ffeb;
    color: #a7ffeb;
}
.post-toc .nav .active > a {
    border-bottom-color: #a7ffeb;
    color: #a7ffeb;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 13px;
  margin: 0 0 20px 0;
  width: 70%;
  margin-left:15%;
  margin-right:15%;
}

td, th {
    padding-top: 3px;
    padding-bottom: 3px;
}
